<h1>New notes</h1>

<% if current_user.isAdmin? %>
	<div class="alert alert-warning">All notes are private and can only be viewed by you. If you want your note to be visible to everyone, publish a Public Comment.</div>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', bull_path(@bull) %>
